[Desktop Entry]
Type=Application
Version=1.0
Name=Install System
GenericName=System Installer
Keywords=calamares;system;installer;pacific;linux;
TryExec=calamares
Exec=sh -c "pkexec calamares"
Comment=Calamares — Install Pacific Linux to disk
Icon=/usr/share/pixmaps/pacific-linux.png
Terminal=false
StartupNotify=true
Categories=Qt;System;
X-AppStream-Ignore=true
