[Desktop Entry]
Type=Application
Version=1.0
Name=Install Venu Pacific
GenericName=Calamares Installer
Exec=calamares-install-debian
Comment=Install Venu Pacific to disk
Keywords=calamares;system;install;pacific;linux;installer
Icon=/usr/share/pixmaps/venu-pacific.png
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
